.first-sec{
    background-image: linear-gradient(#3C6B6F, #89ECF6);
    width: 100%;
    height: 70%;
    padding: 10% 0% 5% 0%;
}
.box8{
    height:490px;
}
.section1-content{
    position:relative;
    transform:translate(0px, 100px);
    top:50%;
}
.section2{
    margin :8% 0%;
}

.banner-content{
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 400;
    line-height: 35.04px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #FFFFFF;
}

.btn-text{
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 400;
    line-height: 35.04px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #FFFFFF;
}

/*section2 starts*/
.flex-wrap-between{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
}

.section2-flex{
    flex: 1 1 calc(24% - 20px); 
    margin: 1%;
}

    /*section 3*/
    .section3-phone{
        width: 27%;
        position: relative;
        /*max-width: 300px;*/
        margin-top: -2%;
    }
    .section3-phone img{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
    .section3-positon{
        position: relative;
        transform: translate(10px, 75px);
        left: 5%;
        width: 55%;
    }
    .section3-heading{
        font-family: Bakbak One;
        font-size: 45px;
        font-weight: 400;
        line-height: 67px;
        letter-spacing: 0.01em;
        text-align: left;
        color: #F7F7F7;
    }
    .section3-content{
        font-family: Bakbak One;
        font-size: 25px;
        font-weight: 400;
        line-height: 35.04px;
        letter-spacing: 0.03em;
        text-align: center;
        color: #FDFDFD;
    }
    .section3-support-content{
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 400;
        line-height: 35.04px;
        letter-spacing: 0.03em;
        text-align: center;
        color: #7DE0F6;
    }
    
    /*section4*/
    .sub-heading{
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 600;
        line-height: 35.04px;
        letter-spacing: 0.03em;
        color: #4A4A4A;
    }
    .section4-subcontent{
        font-family: Montserrat;
        font-size: 22px;
        font-weight: 500;
        line-height: 35.04px;
        letter-spacing: 0.03em;
        text-align: left;
     }


    .section4-content{
        font-family: Montserrat;
        font-size: 15px;
        font-weight: 500;
        line-height: 35.04px;
        letter-spacing: 0.03em;
        text-align: left;
        color: #8D8B8B;
    }
    /*section5*/
    .section5-heading{
        font-family: Bakbak One;
        font-size: 30px;
        font-weight: 400;
        line-height: 35px;
        letter-spacing: 0.01em;
        text-align: left;
        color: #636363;

    }
    .section5-content{
        font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    line-height: 25.04px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #2e2c2c;
    }
    .width-70{
        width:70%;
    }
    
    /*section6*/
    .section6-bg{
        background: #E6EDFF;
        top: 5029px;
    }
    
    /*faq css starts*/
    .faq {
    padding: 40px 20px;
    background-color: #fff;
    text-align: center;
  }
  .faq-heading{
    color: rgb(87, 69, 69);
    margin : 3% 0%;
  }
  
  .faq h2 {
    margin: 5% 0%;
    font-size: 38px;
    font-weight: 600;
    line-height: 54.47px;
    text-align: center;
  }
  
  .faq-item {
    margin-bottom: 15px;
    background-color: #F8FBFB;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .faq-item.open {
    background-color: #fff; 
  }
  
  .faq-ul{
    margin : 1% 4%;
  }
  
  .faq-answer-list{
    color: #323030;
    padding : 1% 0%;
  }
  
  .faq-item h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 5px;   
    font-size: 18px;
    font-weight: 600;
    line-height: 28.24px;
    text-align: justify;
    color: #292929;
  }
  
  .faq-item .toggle-symbol {
    font-size: 18px;
    transition: transform 0.3s ease;
  }
  
  .faq-answer {
    display: none;
    padding: 25px 20px 5px;
    border-top: 1px solid #ddd;
    font-size: 16px;
    font-weight: 400;
    line-height: 24.01px;
    text-align: justified !important;
    color: #323030; 
  }
  
  .faq-item.open .faq-answer {
    display: block;
  }
  
  .toggle-symbol {
    font-size: 1.5em;
    margin-left: 10px;
    color: #333;
  }
  
  .faq-answer {
    display: none;
    margin-top: 10px;
  }

  .p-content{
    line-height: 1.7;
    color: #666666;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    margin: 0 0 10px;
  }

  .text-center{
    text-align: center;
  }

  .box-shadow{
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
  }

  .mt-3{
    margin-top : 3%;
  }

  @media screen and (max-width: 470px) {
    .faq-ul{
      padding : 1% 8%;
    }

  }
  
    
    /*faq css ends*/
    
    .last-section{
        background: #2E4177;
    }
    .footer-bg{
        background: #1F3163;
        bottom: 0;
        position: fixed;
        width: 100%;
    }
    
    .last-section-name{
        font-family: Bakbak One;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 5%;
        color: #FFFFFF;
    }
    .border-address{
        border-bottom: 1px solid #fff;
        margin:0 auto;
    }
    .width-address{
        width:22%;
    }
    .width-contact{
        width:32%;
    }
    .last-section-heading{
        font-weight: 400;
        font-size: 15px;
        line-height: 30px;
        letter-spacing: 5%;
        color: #D0CECB;
    }
    
    .last-section-content{
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: 0.04em;
        text-align: left;
        color: #F9F9F9;
    }
    .footer-bg .d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}



/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
   .section2-flex {
        flex: 1 1 calc(100%); /* 2 columns on medium screens */
    }
    .section3-phone{
        width: 50%;
        position: relative;
        max-width: 270px;
        margin-top: 0%;
    }
}

/* Small devices (phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .section2-flex {
        flex: 1 1 calc(50% - 20px);
    }
    .section3-phone{
        width: 50%;
        position: relative;
        /*max-width: 270px;*/
        margin-top: 0%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
   .section2-flex {
        flex: 1 1 calc(50% - 20px);
    }
    
    .section3-positon {
    transform: translate(10px, 25px);
    width:60% !important;
    }
    .heading1 {
        font-size:20px !important;
    }
}

/* Large devices (desktops, 992px and up) */
/*@media (min-width: 992px) and (max-width: 1199.98px) {*/
/*   .section2-flex {*/
/*        flex: 1 1 calc(25% - 2rem);*/
/*    }*/
/*}*/

/* Extra large devices (large desktops, 1200px and up) */
/*@media (min-width: 1200px) and (max-width: 1399.98px) {*/
/*  .section2-flex {*/
/*         flex: 1 1 calc(22% - 2rem);*/
/*    }*/
/*}*/







